<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MomentMemory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>37170E811D178ACD000F9469</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37170E951D178ACE000F9469</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37170EA01D178ACE000F9469</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
